# Example environment variables for frontend
# API base URL
EXPO_PUBLIC_API_URL_ANDROID=http://10.0.2.2:8082
EXPO_PUBLIC_API_URL_IOS=http://localhost:8082
EXPO_PUBLIC_API_URL_WEB=http://localhost:8082