# PostgreSQL (Odoo BDD)
POSTGRES_USER=odoo
POSTGRES_PASSWORD=odoo
POSTGRES_DB=odoo_db

# MySQL (Backend Symfony BDD)
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=omb
MYSQL_USER=odoo
MYSQL_PASSWORD=odoo

# Odoo
ODOO_VERSION=19
ODOO_ADMIN_PASSWD=admin

# Backend Symfony (Docker)
BACKEND_ODOO_HOST=omb_odoo
BACKEND_ODOO_PORT=8069
BACKEND_ODOO_DB=omb
BACKEND_ODOO_USER=odoo
BACKEND_ODOO_PASSWORD=odoo
BACKEND_ODOO_ADDONS_PATH=/mnt/extra-addons
