# PostgreSQL (Odoo BDD)
POSTGRES_USER=odoo
POSTGRES_PASSWORD=odoo
POSTGRES_DB=odoo_db

# MySQL (Backend Symfony BDD)
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=omb
MYSQL_USER=odoo
MYSQL_PASSWORD=odoo

# Odoo
ODOO_VERSION=19
ODOO_ADMIN_PASSWD=admin

# Backend Symfony (Docker)
BACKEND_ODOO_HOST=omb_odoo
BACKEND_ODOO_PORT=8069
BACKEND_ODOO_DB=odoo_db
BACKEND_ODOO_USER=admin
BACKEND_ODOO_PASSWORD=admin
BACKEND_ODOO_ADDONS_PATH=/mnt/extra-addons

# Symfony (APP)
APP_ENV=dev
APP_SECRET=7217e6a6edf32eb2a80537d8fac87057

# Symfony (Database)
DATABASE_URL="mysql://odoo:odoo@omb-db:3306/omb?serverVersion=8.0&charset=utf8mb4"
