# DOCKER
WEB_CONTAINER_NAME=containername
# APACHE
APACHE_SERVER_NAME=sfapp.local
APACHE_SERVER_ALIAS=sfapp.local
APACHE_DOCUMENT_ROOT=/code/public
# ODOO
ODOO_ADDONS_PATH=/mnt/extra-addons
ODOO_HOST=omb_odoo
ODOO_PORT=8069
ODOO_DB=nombre_base_de_datos
ODOO_USER=admin
ODOO_PASSWORD=admin
