# Symfony / PHP
/vendor/
/var/
/bin/
/provisioning/sites-enabled/
/.idea/
/.env.local
/data/db/

# Symfony / PHP
/vendor/
/var/
/bin/
/provisioning/sites-enabled/
/idea/
/.env.local
/.env
*.env
/data/db/

# OS
.DS_Store
Thumbs.db
